name: Browser-Spy CD

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@master
        with:
          node-version: 12
      - name: Install
        run: npm i
      - name: Build
        run: npm run build
      - name: Commit /dist
        run: |
          git config --global user.name Bruce
          git config --global user.email brucetseng@17.media
          git status
          git add /dist/*
          git commit -m "Adding builded files."
          git fetch origin master
          git push origin HEAD:master -f
